/* CSS reset 
  (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}


/* General styles 
  (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/
body{
    font-family: Helvetica, Arial, sans-serif;
}





/* Header styles 
  (all the styles inside the < header > or < nav > tags) 
*/
header{ 
  margin-top:0;
  color: white;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  height: 500px;
  background-image: url(https://images.unsplash.com/photo-1433733071959-30cd185d14a8?q=80&fm=jpg&s=2bb5c5d8e0b1e5a0c994fc660681348e);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
}

.intro-small {
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 175px;
  margin-bottom:0;
}

.intro-name {
  font-size: 5em;
  font-weight: bold;
  margin-top: 0;
}


/* Content styles 
  (all the styles inside the < sections > or < aside > tags)
*/
.section-style{
 padding:3em 6em; 
}

.section-header{
 text-transform: uppercase;
  font-size: 1em;
}

.question, .response {
  padding-left: 3em;
  margin-top: 1em;
}

.question {
  font-style: italic;
}



/* Footer styles 
  (all the styles inside the < footer > tag)
*/
footer{
  text-align: center;
  background-color: WhiteSmoke;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer ul{
  list-style-type: none;
  padding: 8px 0;
  margin: 0;
}

footer li{
  display: inline;
  padding-left: 1em;
  padding-right: 1em; 
}

footer a{
text-decoration: none;
color: black;
}



/* Responsive styles 
  (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
@media only screen and (max-width: 1024px) {
  body  {
    color:blue;
  }
}

/*ipad potrait*/
@media only screen and (max-width: 768px) {
  body  {
    color:red;
  }
}

/*iPhone landscape*/
@media only screen and (max-width: 480px) {
  body  {
    color:yellow;
  }
    header{
    height: 9em;
    padding: 3em 0;
  }
  .intro-small{
    padding-top: 1em;
  }
    .intro-name {
        font-size: 3em;
    }
    li{
      display: block;
      padding:1em 1em;
    }

    a{
         padding:1em 1em;
    }
}

/*iPhone portrait*/
@media only screen and (max-width: 320px) {
  body  {
    color:purple;
  }
}


